<!doctype html>
<title>PM-Monitor</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section class="content">
  <h1>Welcome to PM-Monitor</h1>
  <p>I'm a python script to received sensor data from the PM-Monitor and make it available via HTTP</p>
  <p>For prometheus metrics, see <a href="/metrics">/metrics</a></p>
  <p>For all of the raw sensor data I've picked up, see <a href="/sensors">/sensors</a>, or if you are a machine try <a href="/sensors.json">/sensors.json</a></p>
</section>